{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <!-- page header -->
        <div class="row">
            <div class="col">
                <h1 class="page-title">My Cart</h1>
            </div>
        </div>

        <div class="row">
            {% if cart_items %}
                <!-- insert table of bag_items here -->
                {{ cart_items }}
            {% else %}
                <div class="col-10 offset-1">
                    <p class="text-center">No items in the cart!</p>
                    <a href="{% url 'products' %}" class="btn my-btn">
                        <i class="fas fa-angle-left"></i> Keep Shopping!
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
