{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block content %}
    <div class="container-fluid">
        <!-- delivery-info banner -->
        {% if cart_items %}
            <div class="row">
                <div class="col-12 delivery-banner w-100">
                    {% if free_delivery_delta == 0 %}
                        <p class="my-2">You've qualified for free next day delivery!</p>  
                    {% else %}              
                        <p class="my-2">Spend <strong>£{{ free_delivery_delta }}</strong> more for free next day delivery!</p>                
                    {% endif %}                      
                </div>
            </div>
        {% endif %}
        <!-- page header -->
        <div class="row">
            <div class="col-12">
                <h1 class="page-title">My Cart {% if cart_items %}({{ product_count }}){% endif %}</h1>
            </div>
            <div class="col-12 mb-3 d-flex justify-content-start col-sm-10 offset-sm-1 px-sm-0 col-lg-8 offset-lg-2">
                <a href="{% url 'products' %}" class="btn my-btn">
                    <i class="fas fa-angle-left"></i> Continue Shopping
                </a>
            </div>
        </div>
        <!-- cart contents -->
        <div class="row text-dark-blue">
            <div class="col-12 col-sm-10 offset-sm-1 px-sm-0 col-lg-8 offset-lg-2">
                {% if cart_items %}
                    <!-- table titles -->
                    <div class="row mb-1">
                        <div class="col-8 col-sm-5 col-md-6 font-weight-bold">Product Info</div>
                        <div class="d-none d-sm-block col-sm-5 col-md-4 font-weight-bold">Quantity</div>
                        <div class="col-4 col-sm-2 col-md-2 pl-0 font-weight-bold">Subtotal</div>
                    </div>
                    <!-- cart items (LOOP) -->
                    {% for item in cart_items %}
                        <div class="cart-item-row rounded d-flex flex-row">
                            <!-- product image (md and above) -->
                            <div class="d-none d-md-block col-md-2 p-md-0">
                                <a href="{% url 'product_detail' item.item_id %}">
                                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="cart-image rounded">
                                </a>
                            </div>
                            <!-- product details -->
                            <div class="col-8 p-0 col-sm-5 mt-sm-2 col-md-4 my-md-auto">
                                <div class="name-link">
                                    <a href="{% url 'product_detail' item.item_id %}">
                                        <p class="text-center mt-2 mt-md-0 mb-md-2 font-weight-bold">{{ item.product.name }}</p>
                                    </a>
                                </div>
                                <div><p class="text-center mb-md-2">{{ item.product.category.friendly_name }} | {{ item.product.abv }}% | {{ item.product.size }}ml</p></div>
                                <div><p class="text-center mb-2 mb-md-0">£{{ item.product.price }} each</p></div>
                                <div class="mb-2 d-flex flex-column align-items-center d-sm-none">
                                    {% include 'includes/qty_adjustment_form.html' %}
                                </div>
                            </div>
                            <!-- quantity input -->
                            <div class="d-none d-sm-block col-sm-5 d-sm-flex flex-sm-column align-items-sm-center justify-content-center col-md-4">
                                {% include 'includes/qty_adjustment_form.html' %}
                            </div>
                            <!-- subtotal -->
                            <div class="col-4 col-sm-2 p-0 d-flex align-items-center">
                                <div class="col text-center">
                                    <strong>£{{ item.product.price | calc_subtotal:item.quantity }}</strong>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-center">No items in the cart!</p>
                {% endif %}
            </div>
        </div>
        <!-- totals -->
        {% if cart_items %}
            <div class="row text-dark-blue">
                <!-- subtotal -->
                <div class="col-12 col-sm-10 offset-sm-1 p-sm-0 col-lg-8 offset-lg-2 d-flex flex-row">
                    <div class="col-8 col-sm-10 text-right p-0 font-weight-bold">
                        <p>subtotal:</p>
                    </div>
                    <div class="col-4 col-sm-2">
                        <p class="text-center p-0">£{{ total }}</p>
                    </div>
                </div>
                <!-- delivery -->
                <div class="col-12 col-sm-10 offset-sm-1 p-sm-0 col-lg-8 offset-lg-2 d-flex flex-row">
                    <div class="col-8 col-sm-10 text-right p-0 font-weight-bold">
                        <p>delivery:</p>
                    </div>
                    <div class="col-4 col-sm-2">
                        <p class="text-center p-0">£{{ delivery|floatformat:2 }}</p>
                    </div>
                </div>
                <!-- total -->
                <div class="col-12 col-sm-10 offset-sm-1 p-sm-0 col-lg-8 offset-lg-2 d-flex flex-row">
                    <div class="col-8 col-sm-10 text-right p-0 font-weight-bold">
                        <p>total:</p>
                    </div>
                    <div class="col-4 col-sm-2">
                        <p class="text-center p-0 font-weight-bold">£{{ grand_total|floatformat:2 }}</p>
                    </div>
                </div>
                <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 p-0">
                    <div class="col-12 col-sm-6 offset-sm-6 col-md-5 offset-md-7 p-sm-0">
                        <a href="#" class="btn mb-3 btn-success font-weight-bold" style="width: 100%;">
                            Checkout
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/button_quantity_script.html' %}

    <script type="text/javascript">
        // update quantity
        $('.update-link').click(function(e) {
            var form = $(this).parent().prev('.update-form');
            form.submit();
        })

        // remove from cart
        $('.remove-link').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/cart/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
             .done(function() {
                location.reload();
             });
        })
    </script>
{% endblock %}