{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- hero image -->
    <section class="container-fluid hero-image">
        <div class="hero-image-overlay">
            <div class="hero-image-content">
                <h1 class="hero-image-quote">The<br>Hop Shop.</h1>
                <h1 class="hero-image-quote d-none d-lg-block">Shop for beers online.</h1>
                <a href="{% url 'products' %}" class="btn my-btn">
                    Bottle Shop
                </a>
            </div>
        </div>
    </section>

    <!-- <section>
        <div class="container-fluid">
            <h1 class="page-title">New In...</h1>
        </div>
    </section> -->
{% endblock %}
