{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block extra_title %}| My Profile{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- page header -->
        <div class="row">
            <div class="col-12">
                <h1 class="page-title">{{ user.username }}'s Profile</h1>
            </div>
        </div>
        <div class="row">
            <!--  existing delivery details -->
            <div class="col-12 col-sm-10 offset-sm-1 col-md-5 offset-md-1 col-lg-4 offset-lg-2">
                <form action="{% url 'profile' %}" method="POST">
                    {% csrf_token %}
                    <fieldset>
                        <legend class="fieldset-label">Saved Delivery Information</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <button class="mb-3 float-right btn my-btn">
                        Update Info
                    </button>
                </form>
            </div>
            <!-- order history -->
            <div class="col-12 col-sm-10 offset-sm-1 offset-md-0 col-md-5 col-lg-4">
                <p class="my-label mb-2">Order History</p>
                <div class="order-history-container py-2 px-3 rounded mb-3">
                    <div class="row my-1 mx-0">
                        <div class="col-5 p-0 mb-1 font-weight-bold small">Date</div>
                        <div class="col-4 p-0 mb-1 font-weight-bold small">Order No.</div>
                        <div class="col-3 p-0 mb-1 font-weight-bold small">Order Total</div>
                    </div>
                    {% for order in orders %}
                    <div class="row">
                        <div class="col-5">
                            <p class="small mb-1">{{ order.date }}</p>
                        </div>
                        <div class="col-4">
                            <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                <p class="small mb-1 text-center">{{ order.order_number|truncatechars:8 }}</p>
                            </a>
                        </div>
                        <div class="col-3">
                            <p class="font-weight-bold float-right small mb-1">£{{ order.grand_total }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/profile_form.js' %}"></script>
{% endblock %}