.blog-content {
    color: var(--dark-blue);
}

/*** blog.html ***/

.card {
    background: none;
    border: none;
}

.card-group>.card {
    margin-bottom: 0;
}

.card-body {
    padding-top: 0;
}

.card,
.card-body {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.card img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 230px;
}

.card-text-group {
    text-align: start;
    margin-bottom: 0.5rem;
}

/*** blog_detail.html ***/

.blog-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.blog-post-content {
    text-align: justify;
    font-size: inherit;
}

/* max-width sm */
@media only screen and (max-width: 575px) {
    .blog-post-content {
        text-align: center;
        font-size: 0.9rem;    
    }
}
