{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- page header -->
        <div class="row">
            <div class="col-12">
                <h1 class="page-title">Your order is complete!</h1>
                <p class="text-center">
                    Your order information is below. A confirmation email 
                    has been sent to <strong>{{ order.email }}</strong>.
                </p>
            </div>
        </div>
        <div class="row checkout-content">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-5 col-lg-4 offset-lg-2">
                <!-- order info -->
                <p class="font-weight-bold mb-1">Order Info</p>
                <div class="order-summary-container p-2 rounded mb-3">
                    <div class="row d-flex flex-column">
                        <div class="mb-2">
                            <div class="col">
                                <p class="font-weight-bold small m-0">Order Number:</p>
                            </div>
                            <div class="col">
                                <p class="small m-0">{{ order.order_number }}</p>
                            </div>
                        </div>
                        <div class="col">
                            <p class="font-weight-bold small m-0">Order Date:</p>
                        </div>
                        <div class="col">
                            <p class="small m-0">{{ order.date }}</p>
                        </div>
                    </div>
                </div>
                <!-- delivery details -->
                <p class="font-weight-bold mb-1">Order Info</p>
                <div class="order-summary-container p-2 rounded mb-3">
                    <div class="row">
                        <div class="col-12">
                            <p class="font-weight-bold small m-0">Delivering To:</p>
                        </div>
                        <div class="col-12 text-center">
                            <p class="small m-0">{{ order.full_name }}</p>
                            <p class="small m-0">{{ order.street_address }}</p>
                            <p class="small m-0">{{ order.town_or_city }}</p>
                            {% if order.county %}
                                <p class="small m-0">{{ order.county }}</p>
                            {% endif %}
                            {% if order.postcode %}
                                <p class="small m-0">{{ order.postcode }}</p>
                            {% endif %}
                            <p class="small m-0">{{ order.country }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="font-weight-bold small m-0">Contact Number:</p>
                        </div>
                        <div class="col-12 text-center">
                            <p class="small m-0">{{ order.phone_number }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1 col-md-5 offset-md-0 col-lg-4">
                <!-- order summary -->
                <p class="font-weight-bold mb-1">Order Details</p>
                <div class="order-summary-container py-1 px-2 rounded mb-3">
                    {% for item in order.lineitems.all %}
                        <div class="row my-1">
                            <div class="col-8">
                                <p class="small m-0">{{ item.quantity }} no. {{ item.product.name|title }} </p>
                            </div>
                            <div class="col-4 text-right">
                                <p class="small m-0">£{{ item.product.price }} each</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- billing details -->
                <p class="font-weight-bold mb-1">Billing Details</p>
                <div class="order-summary-container py-1 px-2 rounded mb-3">
                    <div class="row my-1">
                        <div class="col-9 text-right">
                            <p class="font-weight-bold small m-0">Subtotal:</p>
                        </div>
                        <div class="col-3 text-right">
                            <p class="small m-0">£{{ order.order_total }}</p>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-9 text-right">
                            <p class="font-weight-bold small m-0">Delivery:</p>
                        </div>
                        <div class="col-3 text-right">
                            <p class="small m-0">£{{ order.delivery_cost }}</p>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-9 text-right">
                            <p class="font-weight-bold small m-0">Total:</p>
                        </div>
                        <div class="col-3 text-right">
                            <p class="small m-0 font-weight-bold">£{{ order.grand_total }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-5 col-lg-4 offset-lg-2 mb-3">
                {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn my-btn">
                        <i class="fas fa-angle-left"></i> Back to Profile
                    </a>
                {% else %}
                    <a href="{% url 'products' %}" class="btn my-btn">
                        <i class="fas fa-angle-left"></i> Continue Shopping
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}