* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --black: #000;
    --white: #FAFAFA;
    --pale-grey: #e6e6e6;
    --mid-blue: #1A759F;
    --turquoise-blue: #34A0A4;
    --dark-blue: #061A40;
}

body {
    background-color: var(--pale-grey);
    overflow-y: scroll;
}

/*** base.html - navigation ***/

#banner {
    background: var(--mid-blue);
    color: var(--white);
} 

.banner-content p {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
}

.my-navbar {
    background: var(--dark-blue);
    padding-bottom: 0;
    min-height: 60px;
}

.my-navbar a {
    color: var(--white);
}

.my-logo {
    font-size: 2rem;
    color: var(--white);
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-align: center;
    margin: 0 0 0 1rem;
    padding: 10px 0;
    line-height: 40px;
}

.my-icons {
    list-style: none;
    text-align: right;
    margin: 0 10px 0 0;
}

.nav-link-logo {
    font-size: 1.5rem;
}

.nav-item a {
    margin: 0 2rem;
}

.nav-link-logo:hover,
.nav-item a:hover {
    color: var(--mid-blue);
}

.navbar-toggler {
    font-size: 1.5rem;
    color: var(--white);
    border: 1px solid var(--white);
}

.dropdown-menu-box {
    background: var(--mid-blue);
    text-align: center;
}

.dropdown-menu-box a {
    margin: 0;
}

.dropdown-menu-box a:hover {
    background: none;
    color: var(--dark-blue);
}

.mobile-search {
    background: var(--dark-blue);
}

/* positions container so that content doesn't clash
with navbar & sticks the footer to page bottom */
.content-container {
    min-height: calc(100vh - 60px);
    padding-top: 197px;
}

.container-fluid,
#footer {
    max-width: 2000px;
    margin: 0 auto;
}

/*** base.html - footer ***/

#footer {
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 2.5%;
    height: 60px;
}

#footer a {
    color: var(--white);
    font-size: 1.5rem;
    padding: 5px;
    margin: 0 10px;
}

#footer a:hover {
    color: var(--mid-blue);
}

/*** home/index.html ***/

.hero-image {
    height: 68vh;
    background: url("/media/hopshop-hero-image.jpg") no-repeat center;
    background-size: cover;
    padding: 0;
}

.hero-image-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image-content {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2%;
    border-radius: 10px;
    max-width: 80%;
}

.hero-image-quote {
    color: var(--dark-blue);
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-bottom: 15px;
}

/*** reusable classes ***/

.page-title {
    margin-bottom: 16px;
    padding-top: 15px;
    text-align: center;
    font-size: 2rem;
    color: var(--dark-blue);
    font-weight: bold;
    letter-spacing: 0.2rem;
}

/*** products/products.html ***/

.card-group {
    margin-bottom: 30px;
}

.product-card {
    border: 1px solid var(--dark-blue);
    background-color: var(--dark-blue);
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    color: var(--white);
}

.card-body {
    padding: 0.75rem 0.5rem;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card-text a {
    color: var(--white);
}

.card-text a:hover {
    color: var(--mid-blue);
}

.sort-select-wrapper {
    margin-bottom: 15px;
    width: 25%;
}

.sort-select-wrapper select {
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
}

/*** products/product_detail.html ***/

.product-detail-card {
    border: 1px solid var(--dark-blue);
    border-radius: .25rem;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background: var(--dark-blue);
}

.product-detail-image-col {
    padding: 0;
}

.product-detail-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product-detail-col {
    color: var(--white);
    padding: 20px;
    letter-spacing: 0.05rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*** cart.html ***/

.delivery-banner {
    background: var(--mid-blue);
    color: white;
    letter-spacing: 0.05rem;
    font-size: 0.9rem;
    text-align: center;
}

.text-dark-blue {
    color: var(--dark-blue);
}

.cart-item-row {
    border: 1px solid var(--dark-blue);
    margin-bottom: 15px;
}

.cart-image {
    width: 100%;
}

.cart-links {
    margin-top: 5px;
    width: 140px;
}

.name-link a {
    color: var(--dark-blue);
}

.name-link a:hover {
    text-decoration: none;
}

.remove-link,
.update-link {
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
}

/*** toasts ***/

.message-container {
    z-index: 3;
    position: fixed;
    right: 0;
}

.toast-capper {
    height: 5px;
}

.toast-header {
    border-bottom: 1px solid var(--pale-grey);
}

.toast-body,
.toast-header {
    background: var(--white);
    color: var(--dark-blue);
}

.cart-toast-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.delivery-banner-toast {
    font-size: inherit;
}

/*** buttons ***/

.search-btn {
    background-color: var(--mid-blue);
    border: 1px solid var(--mid-blue);
    color: var(--white);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.my-btn {
    background-color: var(--mid-blue);
    border: 1px solid var(--mid-blue);
    color: var(--white);
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.search-btn:hover,
.my-btn:hover {
    background-color: var(--white);
    border: 1px solid var(--mid-blue);
    color: var(--mid-blue);
}

.qty_input_group {
    width: 140px;
}

/*** media queries ***/

/* min-width lg */
@media only screen and (min-width: 992px) {  
    #main-nav {
        margin-left: 36px;
    }
}

/* max-width lg */
@media only screen and (max-width: 991px) {  
    #main-nav {
        position: absolute;
        top: 60px;
        background: var(--dark-blue);
        width: 100vw;
        left: 0;
        text-align: center;
    }
    .content-container {
        padding-top: 97px;
    }
}

/* max-width sm */
@media only screen and (max-width: 575px) {
    .nav-link-logo {
        font-size: 1.2rem;
        padding: 0.5rem;
    }
    .product-detail-image {
        height: 500px;
    }
    .sort-select-wrapper {
        width: 50%;
    }
}

/* below 320px */
@media only screen and (max-width: 320px) {
    .content-container {
        padding-top: 118px;
    }
}