<div id="main-nav" class="collapse navbar-collapse">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="font-weight-bold nav-link" href="{% url 'home' %}">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link" href="#" id="shop-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0 dropdown-menu-box" aria-labelledby="shop-link">
                <a href="" class="dropdown-item">All</a>
                <a href="" class="dropdown-item">By Style</a>
                <a href="" class="dropdown-item">By Country</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link" href="#">
                Blog
            </a>
        </li>
    </ul>
</div>
