<div id="main-nav" class="collapse navbar-collapse">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- home -->
        <li class="nav-item">
            <a class="font-weight-bold nav-link" href="{% url 'home' %}">
                Home
            </a>
        </li>
        <!-- all -->
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link" href="#" id="shop-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                All Beers
            </a>
            <div class="dropdown-menu border-0 dropdown-menu-box" aria-labelledby="shop-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By ABV%</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Beers</a>
            </div>
        </li>
        <!-- by style -->
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link" href="#" id="shop-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Beers by Style
            </a>
            <div class="dropdown-menu border-0 dropdown-menu-box" aria-labelledby="shop-link">
                {% for category in context_categories %}
                    <a href="{% url 'products' %}?category={{ category.name }}" class="dropdown-item">{{ category.friendly_name }}</a>
                {% endfor %}
            </div>
        </li>
        <!-- by country -->
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link" href="#" id="shop-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Beers by Country
            </a>
            <div class="dropdown-menu border-0 dropdown-menu-box" aria-labelledby="shop-link">
                {% for country in context_countries %}
                    <a href="{% url 'products' %}?country={{ country.name }}" class="dropdown-item">{{ country.friendly_name }}</a>
                {% endfor %}
            </div>
        </li>
        <!-- blog -->
        <li class="nav-item">
            <a class="font-weight-bold nav-link" href="#">
                Blog
            </a>
        </li>
    </ul>
</div>
