{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <!-- page header -->
        <div class="row">
            <div class="col-12">
                <h1 class="page-title">Blog</h1>
            </div>
        </div>
        <!-- posts -->
        <div class="row">
            {% for post in posts %}
            <div class="col-4 text-center">
                <p>{{ post.title }}</p>
                <p>{{ post.content|truncatechars:100 }}</p>
                <a class="btn my-btn" href="{% url 'blog_detail' post.slug %}">See More...</a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

