{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
    <h1 class="page-title">{% trans "Set Password" %}</h1>
    <div class="allauth-container-card p-3 mb-3">
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn my-btn" type="submit" name="action" value="{% trans 'Set Password' %}"/>
        </form>
    </div>
{% endblock %}
