{% extends "base.html" %}
{% load static %}

{% block extra_title %}| 500 error!{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="page-title">500 internal server error</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 px-sm-0 col-lg-8 offset-lg-2">
                <h3 class="mb-3 text-dark-blue text-center">Sorry about this! Looks like something has gone wrong our end...</h3>
                <h3 class="mb-3 text-dark-blue text-center">Please try again later.</h3>
                <a href="{% url 'home' %}" class="btn my-btn mb-3">
                    <i class="fas fa-angle-left"></i> Return Home
                </a>
            </div>
        </div>
    </div>
{% endblock %}