{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
        <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'icons/site.webmanifest' %}">
    {% endblock %}
    
    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}{% endblock %}
    
    {% block corejs %}
        <script src="https://kit.fontawesome.com/408148ab70.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- https://stripe.com/docs/payments/accept-a-payment?platform=web&ui=elements#web-collect-payment-details -->
        <script src="https://js.stripe.com/v3/"></script>  
    {% endblock %}

    {% block extra_js %}{% endblock %}

    <title>The Hop Shop {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <div class="content-container">
        <header class="container-fluid fixed-top">
            <!-- banner -->
            <div id="banner" class="row text-center">
                <div class="d-none d-lg-block col-lg-6 banner-content">
                    <p class="my-2">Order before 3pm (mon-fri) for next day delivery.</p>                
                </div>            
                <div class="col-12 col-lg-6 banner-content">
                    <p class="my-2">Spend £{{ free_delivery_threshold }} for free next day delivery.</p>                
                </div>            
            </div>

            <!-- logo / searchbar / icons -->
            <div class="row my-navbar d-none d-lg-flex">
                <!-- logo -->
                <div class="col-12 col-lg-4">
                    <a class="navbar-brand my-logo" href="{% url 'home' %}">
                        The<br>Hop Shop.
                    </a>
                </div>
                <!-- searchbar  -->
                <div class="col-12 col-lg-4 my-auto">
                    <form method="GET" action="{% url 'products' %}">
                        <div class="input-group w-100">
                            <input type="text" class="form-control" placeholder="search our site..."  name="query">
                            <button class="btn search-btn" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <!-- account / shopping bag / wishlist  -->
                <div class="col-12 col-lg-4 my-auto">
                    <ul class="list-inline my-icons my-0">
                        <!-- user logic (dropdown) -->
                        <li class="list-inline-item dropdown">
                            <a class="nav-link nav-link-logo" href="#" id="user-options" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <div>
                                        <i class="far fa-user"></i>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-box" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'add_product' %}" class="dropdown-item">Add Product</a>
                                        <a href="{% url 'add_blog_post' %}" class="dropdown-item">Add Blog Post</a>
                                    {% endif %}
                                    <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Log In</a>
                                {% endif %}
                            </div>
                        </li>
                        <!-- wishlist logic -->
                        <li class="list-inline-item">
                            <a class="nav-link nav-link-logo" href="{% url 'wishlist' %}">
                                <div class="text-center">
                                    <div>
                                        <i class="fas fa-heart"></i>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- cart logic -->
                        <li class="list-inline-item">
                            <a class="nav-link nav-link-logo {% if product_count > 0 %}pr-0{% endif %}" href="{% url 'view_cart' %}">
                                <div class="text-center">
                                    <div>
                                        <i class="fas fa-shopping-cart"></i>
                                        {% if product_count > 0 %}
                                            <span class="badge" id="cart-count">{{ product_count }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- main-nav -->
            <div class="row">
                <nav class="navbar navbar-expand-lg w-100 my-navbar py-1">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                        aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span>
                            <i class="fas fa-bars"></i>
                        </span>
                    </button>
                    {% include 'includes/main_nav.html' %}
                    {% include 'includes/mobile_nav.html' %}
                </nav>
            </div>
        </header>

        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    {% with message.level as level %}
                        {% if level == 40 %}
                            {% include 'includes/toasts/toast_error.html' %}
                        {% elif level == 30 %}
                            {% include 'includes/toasts/toast_warning.html' %}
                        {% elif level == 25 %}
                            {% include 'includes/toasts/toast_success.html' %}
                        {% else %}
                            {% include 'includes/toasts/toast_info.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}

        {% block postloadjs %}
            <script>
                $('.toast').toast('show');
            </script>
        {% endblock %}
    </div>

    <!-- footer -->
    <footer id="footer">
        <div>
            <a href="https://www.instagram.com/" target="_blank" rel="noreferrer"><i class="fab fa-instagram social-link"></i></a>
            <a href="https://www.facebook.com/" target="_blank" rel="noreferrer"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/" target="_blank" rel="noreferrer"><i class="fab fa-twitter"></i></a>
        </div>
    </footer>
</body>
</html>