.checkout-content {
    color: var(--dark-blue);
}

.fieldset-label {
    font-weight: bold;
    font-size: inherit;
}

.order-summary-container {
    border: 1px solid var(--dark-blue);
    background: var(--white);
}

hr {
    border-top: 1px solid var(--mid-blue);
}

/*** Stripe ***/

.StripeElement,
.stripe-style-input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    padding: 5px 10px;
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 0.25rem;
    background-color: var(--white);
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    -webkit-box-shadow: 0 1px 3px 0 var(--mid-blue);
    box-shadow: 0 1px 3px 0 var(--mid-blue);
}

.stripe-style-input::-webkit-input-placeholder, .StripeElement::-webkit-input-placeholder {
    color: #AAB7C4;
    font-family: "Montserrat", sans-serif;
}

.stripe-style-input::-moz-placeholder, .StripeElement::-moz-placeholder {
    color: #AAB7C4;
    font-family: "Montserrat", sans-serif;
}

.stripe-style-input:-ms-input-placeholder, .StripeElement:-ms-input-placeholder {
    color: #AAB7C4;
    font-family: "Montserrat", sans-serif;
}

.stripe-style-input::-ms-input-placeholder, .StripeElement::-ms-input-placeholder {
    color: #AAB7C4;
    font-family: "Montserrat", sans-serif;
}

.stripe-style-input::placeholder,
.StripeElement::placeholder {
    color: #AAB7C4;
    font-family: "Montserrat", sans-serif;
}

#card-element {
    padding: 10px;
}

select,
select option {
    color: var(--dark-blue);
}

select:invalid,
select option[value=""] {
    color: #AAB7C4;
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--turquoise-blue);
    opacity: 0.85;
    z-index: 10000;
}

.loading-spinner {
    color: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    height: 100%;
}