{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Edit {{ product.name|title }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- page header -->
        <div class="row">
            <div class="col-12">
                <h1 class="page-title">Edit {{ product.name|title }}</h1>
            </div>
        </div>
        <form method="POST" action="{% url 'edit_product' product.id %}" enctype="multipart/form-data">
            {% csrf_token %}    
            <div class="row product-form">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-5 offset-md-1 col-lg-4 offset-lg-2">
                    {{ form.name | as_crispy_field }}
                    {{ form.category | as_crispy_field }}
                    {{ form.country | as_crispy_field }}
                    {{ form.abv | as_crispy_field }}
                    {{ form.size | as_crispy_field }}
                    {{ form.price | as_crispy_field }}
                </div>
                <div class="col-12 col-sm-10 offset-sm-1 col-md-5 offset-md-0 col-lg-4">
                    {{ form.description | as_crispy_field }}
                    {% if product.image %}
                        {{ form.image }}
                    {% else %}
                        {{ form.image | as_crispy_field }}
                    {% endif %}
                </div>
                <div class="col-12 col-sm-10 offset-sm-1 col-md-5 offset-md-1 col-lg-4 offset-lg-2 mb-3">
                    <a href="{% url 'products' %}" class="btn my-btn">
                        <i class="fas fa-angle-left"></i> Products
                    </a>
                    <button type="submit" class="btn btn-success font-weight-bold">
                        Update Product
                    </button>
                </div>
            </div>
        </form>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be changed to: ${file.name}`);
        });
    </script>
{% endblock %}