{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <!-- page header -->
        <div class="row">
            <div class="col">
                <h1 class="page-title">Shop Beers</h1>
            </div>
        </div>
        <!-- dropdown filter -->
        <div class="row">
            <div class="col-12 d-flex justify-content-center justify-content-lg-end">
                <div class="sort-select-wrapper">
                    <select id="sort-selector" class="custom-select custom-select-sm">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                        <option value="size_asc" {% if current_sorting == 'size_asc' %}selected{% endif %}>Size (small to big)</option>
                        <option value="size_desc" {% if current_sorting == 'size_desc' %}selected{% endif %}>Size (big to small)</option>
                        <option value="abv_asc" {% if current_sorting == 'abv_asc' %}selected{% endif %}>% (low to high)</option>
                        <option value="abv_desc" {% if current_sorting == 'abv_desc' %}selected{% endif %}>% (high to low)</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- product cards -->
        <div class="row">
            <div class="col-12">
                <div class="row">
                    {% for product in products %}
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3 card-group">
                            <div class="card product-card">
                                <!-- product image -->
                                {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }}">
                                    </a>
                                {% endif %}
                                <div class="card-body">
                                    <!-- product name -->
                                    <h5 class="card-title text-center">{{ product.name }}</h5>
                                    <!-- product category / abv / country -->
                                    <p class="card-text text-center">
                                        {% if product.category and product.country %}
                                            <a href="{% url 'products' %}?category={{ product.category.name }}">{{ product.category.friendly_name }}</a>  |
                                              {{ product.abv }}%  |
                                                <a href="{% url 'products' %}?country={{ product.country.name }}">{{ product.country.friendly_name }}</a>
                                        {% elif product.category and not product.country %}
                                            <a href="{% url 'products' %}?category={{ product.category.name }}">{{ product.category.friendly_name }}</a>  |
                                              {{ product.abv }}%
                                        {% elif product.country and not product.category %}
                                            {{ product.abv }}%  |
                                              <a href="{% url 'products' %}?country={{ product.country.name }}">{{ product.country.friendly_name }}</a>
                                        {% else %}
                                            {{ product.abv }}%
                                        {% endif %}
                                    </p>
                                    <!-- product price -->
                                    <h5 class="card-title text-center"><b>£{{ product.price }}</b></h5>
                                    <!-- buttons -->
                                    <div class="d-flex flex-wrap justify-content-center">
                                        <!-- <a href="{% url 'product_detail' product.id %}" class="btn my-btn m-2">
                                            about
                                        </a> -->
                                        <a href="#" class="btn my-btn m-2">
                                            add to cart
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);
            var selectedVal = selector.val();

            if(selectedVal != "reset") {
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);
                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.set("sort");
                currentUrl.searchParams.set("direction");
                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}
