{% extends "base.html" %}
{% load static %}

{% block extra_title %}| {{ product.name|title }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- page header -->
        <div class="row">
            <div class="col">
                <h1 class="page-title">{{ product.name|title }} ({{ product.size }}ml)</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <div class="row product-detail-card mb-3">
                    <!-- product image -->
                    <div class="col-12 col-sm-5 product-detail-image-col">
                        {% if product.image %}
                            <a href="{{ product.image.url }}" target="_blank">
                                <img class="product-detail-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                        {% else %}
                            <a href="{{ MEDIA_URL }}noimage.jpg" target="_blank">
                                <img class="product-detail-image" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }}">
                            </a>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'wishlist_toggle' product.id %}" class="btn rounded-0 wishlist-btn">
                                {% if product in user_profile.wishlist.all %}
                                    <i class="fas fa-heart"></i>
                                {% else %}
                                    <i class="far fa-heart"></i>
                                {% endif %}
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-12 col-sm-7 product-detail-col">
                        <!-- product category / abv / country -->
                        <p class="card-text text-center">
                            {% if product.category and product.country %}
                                <a href="{% url 'products' %}?category={{ product.category.name }}">{{ product.category.friendly_name }}</a>  |
                                  {{ product.abv }}%  |
                                    <a href="{% url 'products' %}?country={{ product.country.name }}">{{ product.country.friendly_name }}</a>
                            {% elif product.category and not product.country %}
                                <a href="{% url 'products' %}?category={{ product.category.name }}">{{ product.category.friendly_name }}</a>  |
                                  {{ product.abv }}%
                            {% elif product.country and not product.category %}
                                {{ product.abv }}%  |
                                  <a href="{% url 'products' %}?country={{ product.country.name }}">{{ product.country.friendly_name }}</a>
                            {% else %}
                                {{ product.abv }}%
                            {% endif %}
                        </p>
                        <!-- product desc -->
                        <p class="text-center">
                            {{ product.description }}
                        </p>
                        <!-- product price -->
                        <h5 class="card-title text-center mb-3"><b>£{{ product.price }}</b></h5>
                        <!-- add to cart -->
                        <form action="{% url 'add_to_cart' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="d-flex flex-row justify-content-center">
                                <div class="input-group mr-sm-1 mr-2 qty_input_group">
                                    <!-- minus button -->
                                    <div class="input-group-prepend">
                                        <button class="btn my-btn minus-button" type="button" data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                    <!-- input -->
                                    <input type="number" class="form-control qty_input" name="quantity" value="1" min="1" max="99"
                                        data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    <!-- plus button -->
                                    <div class="input-group-append">
                                        <button class="btn my-btn plus-button" type="button" data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-success mx-sm-1 mx-2 font-weight-bold" value="add"></input>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}"></input>
                                <!-- <a href="{% url 'wishlist_toggle' product.id %}" class="btn my-btn ml-sm-1 ml-2">
                                    <i class="far fa-heart"></i>
                                </a> -->
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row product-detail-admin">
                    <div class="col px-0 d-flex flex-wrap justify-content-between">
                        <a href="{% url 'products' %}" class="btn my-btn mr-2 mb-2">
                            <i class="fas fa-angle-left"></i> Continue Shopping
                        </a>
                        {% if request.user.is_superuser %}
                            <a href="{% url 'edit_product' product.id %}" class="btn mb-2 btn-info font-weight-bold">
                                <i class="far fa-edit"></i> Edit Product
                            </a>
                            <!-- Delete button & modal -->
                            {% include 'products/includes/delete_modal.html' %}                                                          
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/button_quantity_script.html' %}
{% endblock %}